.array-bars-container {
    display: flex;
    justify-content: center;
    border: 1px solid #333;
    border-radius: 4px;
    padding: 5px 20px;
    height: 165px;
}

.array-bar {
    display: inline-block;
    width: 20px;
    background-color: blue;
    transition: height 0.1s linear;
    margin: 0 1px;
    text-align: center;
    color: white;
}

@media (max-width: 900px) {
    .array-bar {
        color: transparent !important;
    }
}

@media (min-width: 1160px) {
    .array-bars-container {
        width: 1150px;
    }
}
