.controls-container {
    padding: 2%;
}

@media (min-width: 1160px) {
    .controls-container {
        width: 1150px;
    }
}

.controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
}

.array-length-options,
.speed-options {
    display: flex;
    align-items: center;
}

.array-length-option,
.speed-option {
    background-color: #333;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 14px;
    margin-right: 10px;
}
.reset-button:hover,
.sort-button:hover,
.array-length-option:hover,
.speed-option:hover {
    background-color: #444;
}

.algorithm-select:disabled,
.sort-button:disabled,
.reset-button:disabled,
.array-length-option:disabled,
.speed-option:disabled {
    background-color: #ccc;
    color: #999;
    cursor: not-allowed;
}

.algorithm-select {
    background-color: #fff;
    color: #333;
    border: 1px solid #ccc;
    outline: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 14px;
    margin-right: 10px;
}

.sort-button,
.reset-button {
    background-color: #333;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 14px;
}
.reset-button {
    margin-left: 10px;
}
