.sorting-visualizer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0px 10px;
}

.sorting-visualizer .sorted {
    background-color: green;
}

.sorting-visualizer .highlight {
    background-color: yellow;
    color: black !important;
}
