.sorting-visualizer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0px 20px;
}

.sorting-visualizer .sorted {
    background-color: green;
}

.sorting-visualizer .highlight {
    animation: highlight 0s linear;
    background-color: yellow;
}

@keyframes highlight {
    0% {
        background-color: blue;
    }
}
